In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt

In [2]:
users = pd.read_csv('takehome_users.csv')
data = pd.read_csv('takehome_user_engagement.csv')

In [39]:
data['time_stamp'] = pd.to_datetime(data['time_stamp'], format='%Y-%m-%d %H:%M:%S')
data

                time_stamp  user_id  visited
0      2014-04-22 03:53:30        1        1
1      2013-11-15 03:45:04        2        1
2      2013-11-29 03:45:04        2        1
3      2013-12-09 03:45:04        2        1
4      2013-12-25 03:45:04        2        1
...                    ...      ...      ...
207912 2013-09-06 06:14:15    11996        1
207913 2013-01-15 18:28:37    11997        1
207914 2014-04-27 12:45:16    11998        1
207915 2012-06-02 11:55:59    11999        1
207916 2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [42]:
data_user = data[data['user_id'] == 2]
data_user.shape[0]

14

In [47]:
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaï¿½s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [5]:
adopteds = data['user_id'].value_counts()
adopteds = data[data.user_id.isin(adopteds.index[adopteds.gt(3)])]
adopteds['time_stamp'] = pd.to_datetime(adopteds['time_stamp'], format='%Y-%m-%d %H:%M:%S')
adopteds = pd.DataFrame(adopteds)

<ipython-input-5-b3ab8f6bcf23>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adopteds['time_stamp'] = pd.to_datetime(adopteds['time_stamp'], format='%Y-%m-%d %H:%M:%S')

In [6]:
adopteds['year'] = adopteds['time_stamp'].dt.year
adopteds['month'] = adopteds['time_stamp'].dt.month
adopteds['day'] = adopteds['time_stamp'].dt.day
adopteds['dup_date'] = adopteds['year'].map(str) + adopteds['month'].map(str) + adopteds['day'].map(str)

adopteds['user_date_dup'] = adopteds['user_id'].map(str) + 'u' + adopteds['dup_date'].map(str)
adopteds = adopteds.drop(adopteds[['year','month','day','dup_date']], axis=1)
adopteds['user_id'].value_counts()

3623     606
906      600
1811     593
7590     590
8068     585
        ...
9807       4
10520      4
6818       4
3917       4
9187       4
Name: user_id, Length: 2007, dtype: int64

In [7]:
adopteds.drop_duplicates(subset=['user_date_dup'], inplace=True)
adopteds

# Of all users who logged in three or more times, none of those users logged in more than once on the same day
# in a way that woudl disqualify them as three times in seven days

                time_stamp  user_id  visited  user_date_dup
1      2013-11-15 03:45:04        2        1     2u20131115
2      2013-11-29 03:45:04        2        1     2u20131129
3      2013-12-09 03:45:04        2        1      2u2013129
4      2013-12-25 03:45:04        2        1     2u20131225
5      2013-12-31 03:45:04        2        1     2u20131231
...                    ...      ...      ...            ...
207905 2014-04-20 14:22:45    11991        1  11991u2014420
207906 2014-04-25 14:22:45    11991        1  11991u2014425
207907 2014-04-28 14:22:45    11991        1  11991u2014428
207908 2014-05-17 14:22:45    11991        1  11991u2014517
207909 2014-05-30 14:22:45    11991        1  11991u2014530

[198914 rows x 4 columns]

In [91]:
da = adopteds['time_stamp'].iloc[0+1] - adopteds['time_stamp'].iloc[0]
da = da.days
da

14

In [127]:
ids = list(adopteds.user_id.unique())
adopted_dict = {}

In [136]:
adopted_dict

{3623: 'adopted',
 2: 'adopted',
 10: 'adopted',
 20: 'adopted',
 33: 'adopted',
 42: 'adopted',
 43: 'adopted',
 50: 'adopted',
 53: 'adopted',
 60: 'adopted',
 63: 'adopted',
 69: 'adopted',
 74: 'adopted',
 80: 'adopted',
 81: 'adopted',
 82: 'adopted',
 87: 'adopted',
 133: 'adopted',
 135: 'adopted',
 141: 'adopted',
 146: 'adopted',
 153: 'adopted',
 160: 'adopted',
 165: 'adopted',
 168: 'adopted',
 172: 'adopted',
 174: 'adopted',
 185: 'adopted',
 188: 'adopted',
 197: 'adopted',
 200: 'adopted',
 202: 'adopted',
 203: 'adopted',
 209: 'adopted',
 214: 'adopted',
 230: 'adopted',
 245: 'adopted',
 247: 'adopted',
 263: 'adopted',
 265: 'adopted',
 275: 'adopted',
 280: 'adopted',
 283: 'adopted',
 297: 'adopted',
 298: 'adopted',
 305: 'adopted',
 310: 'adopted',
 311: 'adopted',
 321: 'adopted',
 322: 'adopted',
 341: 'adopted',
 345: 'adopted',
 347: 'adopted',
 351: 'adopted',
 362: 'adopted',
 363: 'adopted',
 370: 'adopted',
 383: 'adopted',
 397: 'adopted',
 401: 'adopted',
 418: 'adopted',
 430: 'adopted',
 445: 'adopted',
 450: 'adopted',
 460: 'adopted',
 462: 'adopted',
 469: 'adopted',
 471: 'adopted',
 472: 'adopted',
 478: 'adopted',
 479: 'adopted',
 483: 'adopted',
 492: 'adopted',
 494: 'adopted',
 497: 'adopted',
 502: 'adopted',
 506: 'adopted',
 509: 'adopted',
 510: 'adopted',
 512: 'adopted',
 518: 'adopted',
 520: 'adopted',
 522: 'adopted',
 529: 'adopted',
 535: 'adopted',
 540: 'adopted',
 547: 'adopted',
 553: 'adopted',
 564: 'adopted',
 572: 'adopted',
 589: 'adopted',
 591: 'adopted',
 601: 'adopted',
 603: 'adopted',
 605: 'adopted',
 618: 'adopted',
 627: 'adopted',
 628: 'adopted',
 632: 'adopted',
 634: 'adopted',
 639: 'adopted',
 669: 'adopted',
 679: 'adopted',
 680: 'adopted',
 717: 'adopted',
 724: 'adopted',
 725: 'adopted',
 728: 'adopted',
 754: 'adopted',
 772: 'adopted',
 783: 'adopted',
 786: 'adopted',
 804: 'adopted',
 828: 'adopted',
 845: 'adopted',
 851: 'adopted',
 869: 'adopted',
 874: 'adopted',
 882: 'adopted',
 885: 'adopted',
 901: 'adopted',
 906: 'adopted',
 907: 'adopted',
 912: 'adopted',
 928: 'adopted',
 932: 'adopted',
 934: 'adopted',
 937: 'adopted',
 943: 'adopted',
 953: 'adopted',
 980: 'adopted',
 985: 'adopted',
 1007: 'adopted',
 1009: 'adopted',
 1013: 'adopted',
 1017: 'adopted',
 1018: 'adopted',
 1026: 'adopted',
 1027: 'adopted',
 1035: 'adopted',
 1055: 'adopted',
 1061: 'adopted',
 1072: 'adopted',
 1089: 'adopted',
 1093: 'adopted',
 1094: 'adopted',
 1099: 'adopted',
 1106: 'adopted',
 1107: 'adopted',
 1119: 'adopted',
 1123: 'adopted',
 1124: 'adopted',
 1128: 'adopted',
 1129: 'adopted',
 1136: 'adopted',
 1145: 'adopted',
 1150: 'adopted',
 1151: 'adopted',
 1155: 'adopted',
 1156: 'adopted',
 1163: 'adopted',
 1173: 'adopted',
 1186: 'adopted',
 1196: 'adopted',
 1202: 'adopted',
 1212: 'adopted',
 1214: 'adopted',
 1222: 'adopted',
 1233: 'adopted',
 1235: 'adopted',
 1242: 'adopted',
 1245: 'adopted',
 1250: 'adopted',
 1274: 'adopted',
 1280: 'adopted',
 1290: 'adopted',
 1303: 'adopted',
 1318: 'adopted',
 1319: 'adopted',
 1320: 'adopted',
 1327: 'adopted',
 1339: 'adopted',
 1343: 'adopted',
 1345: 'adopted',
 1350: 'adopted',
 1357: 'adopted',
 1361: 'adopted',
 1368: 'adopted',
 1379: 'adopted',
 1396: 'adopted',
 1407: 'adopted',
 1410: 'adopted',
 1411: 'adopted',
 1421: 'adopted',
 1434: 'adopted',
 1464: 'adopted',
 1472: 'adopted',
 1476: 'adopted',
 1479: 'adopted',
 1480: 'adopted',
 1481: 'adopted',
 1485: 'adopted',
 1506: 'adopted',
 1507: 'adopted',
 1508: 'adopted',
 1525: 'adopted',
 1546: 'adopted',
 1555: 'adopted',
 1561: 'adopted',
 1576: 'adopted',
 1581: 'adopted',
 1592: 'adopted',
 1598: 'adopted',
 1617: 'adopted',
 1624: 'adopted',
 1641: 'adopted',
 1663: 'adopted',
 1665: 'adopted',
 1671: 'adopted',
 1672: 'adopted',
 1681: 'adopted',
 1690: 'adopted',
 1693: 'adopted',
 1694: 'adopted',
 1709: 'adopted',
 1714: 'adopted',
 1716: 'adopted',
 1717: 'adopted',
 1722: 'adopted',
 1730: 'adopted',
 1740: 'adopted',
 1754: 'adopted',
 1758: 'adopted',
 1759: 'adopted',
 1769: 'adopted',
 1770: 'adopted',
 1781: 'adopted',
 1783: 'adopted',
 1786: 'adopted',
 1811: 'adopted',
 1816: 'adopted',
 1820: 'adopted',
 1821: 'adopted',
 1822: 'adopted',
 1825: 'adopted',
 1836: 'adopted',
 1845: 'adopted',
 1865: 'adopted',
 1872: 'adopted',
 1879: 'adopted',
 1885: 'adopted',
 1907: 'adopted',
 1930: 'adopted',
 1941: 'adopted',
 1944: 'adopted',
 1954: 'adopted',
 1974: 'adopted',
 1993: 'adopted',
 2002: 'adopted',
 2009: 'adopted',
 2011: 'adopted',
 2013: 'adopted',
 2025: 'adopted',
 2033: 'adopted',
 2037: 'adopted',
 2038: 'adopted',
 2042: 'adopted',
 2043: 'adopted',
 2049: 'adopted',
 2056: 'adopted',
 2073: 'adopted',
 2074: 'adopted',
 2078: 'adopted',
 2080: 'adopted',
 2103: 'adopted',
 2111: 'adopted',
 2112: 'adopted',
 2113: 'adopted',
 2124: 'adopted',
 2129: 'adopted',
 2159: 'adopted',
 2160: 'adopted',
 2171: 'adopted',
 2176: 'adopted',
 2193: 'adopted',
 2199: 'adopted',
 2201: 'adopted',
 2239: 'adopted',
 2241: 'adopted',
 2246: 'adopted',
 2253: 'adopted',
 2270: 'adopted',
 2271: 'adopted',
 2278: 'adopted',
 2282: 'adopted',
 2286: 'adopted',
 2289: 'adopted',
 2290: 'adopted',
 2297: 'adopted',
 2300: 'adopted',
 2307: 'adopted',
 2312: 'adopted',
 2316: 'adopted',
 2322: 'adopted',
 2324: 'adopted',
 2333: 'adopted',
 2337: 'adopted',
 2339: 'adopted',
 2357: 'adopted',
 2361: 'adopted',
 2371: 'adopted',
 2390: 'adopted',
 2399: 'adopted',
 2400: 'adopted',
 2406: 'adopted',
 2425: 'adopted',
 2435: 'adopted',
 2438: 'adopted',
 2447: 'adopted',
 2474: 'adopted',
 2481: 'adopted',
 2490: 'adopted',
 2502: 'adopted',
 2519: 'adopted',
 2539: 'adopted',
 2544: 'adopted',
 2548: 'adopted',
 2557: 'adopted',
 2566: 'adopted',
 2568: 'adopted',
 2569: 'adopted',
 2570: 'adopted',
 2571: 'adopted',
 2583: 'adopted',
 2587: 'adopted',
 2590: 'adopted',
 2604: 'adopted',
 2610: 'adopted',
 2615: 'adopted',
 2618: 'adopted',
 2620: 'adopted',
 2622: 'adopted',
 2626: 'adopted',
 2636: 'adopted',
 2641: 'adopted',
 2645: 'adopted',
 2647: 'adopted',
 2658: 'adopted',
 2672: 'adopted',
 2681: 'adopted',
 2713: 'adopted',
 2723: 'adopted',
 2724: 'adopted',
 2727: 'adopted',
 2731: 'adopted',
 2739: 'adopted',
 2744: 'adopted',
 2750: 'adopted',
 2762: 'adopted',
 2771: 'adopted',
 2787: 'adopted',
 2798: 'adopted',
 2809: 'adopted',
 2832: 'adopted',
 2836: 'adopted',
 2841: 'adopted',
 2843: 'adopted',
 2851: 'adopted',
 2857: 'adopted',
 2859: 'adopted',
 2866: 'adopted',
 2870: 'adopted',
 2881: 'adopted',
 2886: 'adopted',
 2887: 'adopted',
 2889: 'adopted',
 2891: 'adopted',
 2895: 'adopted',
 2915: 'adopted',
 2918: 'adopted',
 2921: 'adopted',
 2931: 'adopted',
 2939: 'adopted',
 2945: 'adopted',
 2946: 'adopted',
 2948: 'adopted',
 2952: 'adopted',
 2969: 'adopted',
 2974: 'adopted',
 2979: 'adopted',
 2993: 'adopted',
 3014: 'adopted',
 3017: 'adopted',
 3018: 'adopted',
 3025: 'adopted',
 3026: 'adopted',
 3028: 'adopted',
 3032: 'adopted',
 3036: 'adopted',
 3039: 'adopted',
 3046: 'adopted',
 3052: 'adopted',
 3053: 'adopted',
 3063: 'adopted',
 3066: 'adopted',
 3067: 'adopted',
 3071: 'adopted',
 3076: 'adopted',
 3077: 'adopted',
 3080: 'adopted',
 3081: 'adopted',
 3087: 'adopted',
 3093: 'adopted',
 3100: 'adopted',
 3112: 'adopted',
 3113: 'adopted',
 3125: 'adopted',
 3137: 'adopted',
 3139: 'adopted',
 3145: 'adopted',
 3160: 'adopted',
 3163: 'adopted',
 3175: 'adopted',
 3180: 'adopted',
 3185: 'adopted',
 3193: 'adopted',
 3194: 'adopted',
 3204: 'adopted',
 3205: 'adopted',
 3207: 'adopted',
 3217: 'adopted',
 3226: 'adopted',
 3232: 'adopted',
 3235: 'adopted',
 3238: 'adopted',
 3239: 'adopted',
 3240: 'adopted',
 3244: 'adopted',
 3269: 'adopted',
 3273: 'adopted',
 3280: 'adopted',
 3294: 'adopted',
 3311: 'adopted',
 3317: 'adopted',
 3324: 'adopted',
 3332: 'adopted',
 3338: 'adopted',
 3339: 'adopted',
 3347: 'adopted',
 3353: 'adopted',
 3360: 'adopted',
 3370: 'adopted',
 3378: 'adopted',
 3381: 'adopted',
 3387: 'adopted',
 3389: 'adopted',
 3390: 'adopted',
 3397: 'adopted',
 3405: 'adopted',
 3409: 'adopted',
 3411: 'adopted',
 3426: 'adopted',
 3436: 'adopted',
 3451: 'adopted',
 3463: 'adopted',
 3481: 'adopted',
 3484: 'adopted',
 3493: 'adopted',
 3502: 'adopted',
 3517: 'adopted',
 3522: 'adopted',
 3525: 'adopted',
 3531: 'adopted',
 3541: 'adopted',
 3546: 'adopted',
 3556: 'adopted',
 3560: 'adopted',
 3561: 'adopted',
 3562: 'adopted',
 3567: 'adopted',
 3574: 'adopted',
 3577: 'adopted',
 3578: 'adopted',
 3592: 'adopted',
 3593: 'adopted',
 3597: 'adopted',
 3598: 'adopted',
 3601: 'adopted',
 3609: 'adopted',
 3612: 'adopted',
 3617: 'adopted',
 3641: 'adopted',
 3642: 'adopted',
 3644: 'adopted',
 3652: 'adopted',
 3671: 'adopted',
 3673: 'adopted',
 3675: 'adopted',
 3695: 'adopted',
 3705: 'adopted',
 3717: 'adopted',
 3718: 'adopted',
 3739: 'adopted',
 3749: 'adopted',
 3752: 'adopted',
 3757: 'adopted',
 3758: 'adopted',
 3762: 'adopted',
 3765: 'adopted',
 3772: 'adopted',
 3774: 'adopted',
 3802: 'adopted',
 3804: 'adopted',
 3812: 'adopted',
 3819: 'adopted',
 3824: 'adopted',
 3832: 'adopted',
 3843: 'adopted',
 3852: 'adopted',
 3859: 'adopted',
 3862: 'adopted',
 3863: 'adopted',
 3866: 'adopted',
 3867: 'adopted',
 3881: 'adopted',
 3882: 'adopted',
 3906: 'adopted',
 3915: 'adopted',
 3946: 'adopted',
 3956: 'adopted',
 3957: 'adopted',
 3960: 'adopted',
 3970: 'adopted',
 4007: 'adopted',
 4009: 'adopted',
 4017: 'adopted',
 4018: 'adopted',
 4019: 'adopted',
 4022: 'adopted',
 4029: 'adopted',
 4031: 'adopted',
 4041: 'adopted',
 4043: 'adopted',
 4045: 'adopted',
 4052: 'adopted',
 4065: 'adopted',
 4067: 'adopted',
 4074: 'adopted',
 4086: 'adopted',
 4090: 'adopted',
 4105: 'adopted',
 4106: 'adopted',
 4134: 'adopted',
 4140: 'adopted',
 4141: 'adopted',
 4143: 'adopted',
 4145: 'adopted',
 4156: 'adopted',
 4158: 'adopted',
 4167: 'adopted',
 4171: 'adopted',
 4181: 'adopted',
 4182: 'adopted',
 4184: 'adopted',
 4186: 'adopted',
 4203: 'adopted',
 4206: 'adopted',
 4208: 'adopted',
 4209: 'adopted',
 4216: 'adopted',
 4217: 'adopted',
 4218: 'adopted',
 4223: 'adopted',
 4234: 'adopted',
 4243: 'adopted',
 4244: 'adopted',
 4248: 'adopted',
 4255: 'adopted',
 4258: 'adopted',
 4263: 'adopted',
 4268: 'adopted',
 4269: 'adopted',
 4278: 'adopted',
 4282: 'adopted',
 4295: 'adopted',
 4296: 'adopted',
 4317: 'adopted',
 4330: 'adopted',
 4335: 'adopted',
 4349: 'adopted',
 4350: 'adopted',
 4353: 'adopted',
 4354: 'adopted',
 4371: 'adopted',
 4384: 'adopted',
 4388: 'adopted',
 4402: 'adopted',
 4403: 'adopted',
 4404: 'adopted',
 4421: 'adopted',
 4425: 'adopted',
 4428: 'adopted',
 4433: 'adopted',
 4444: 'adopted',
 4446: 'adopted',
 4467: 'adopted',
 4472: 'adopted',
 4481: 'adopted',
 4485: 'adopted',
 4489: 'adopted',
 4494: 'adopted',
 4497: 'adopted',
 4511: 'adopted',
 4513: 'adopted',
 4519: 'adopted',
 4558: 'adopted',
 4560: 'adopted',
 4561: 'adopted',
 4562: 'adopted',
 4564: 'adopted',
 4565: 'adopted',
 4569: 'adopted',
 4571: 'adopted',
 4576: 'adopted',
 4580: 'adopted',
 4582: 'adopted',
 4589: 'adopted',
 4600: 'adopted',
 4609: 'adopted',
 4611: 'adopted',
 4612: 'adopted',
 4616: 'adopted',
 4618: 'adopted',
 4619: 'adopted',
 4625: 'adopted',
 4680: 'adopted',
 4685: 'adopted',
 4709: 'adopted',
 4713: 'adopted',
 4715: 'adopted',
 4720: 'adopted',
 4730: 'adopted',
 4742: 'adopted',
 4745: 'adopted',
 4753: 'adopted',
 4760: 'adopted',
 4778: 'adopted',
 4780: 'adopted',
 4784: 'adopted',
 4785: 'adopted',
 4793: 'adopted',
 4803: 'adopted',
 4805: 'adopted',
 4812: 'adopted',
 4826: 'adopted',
 4832: 'adopted',
 4835: 'adopted',
 4837: 'adopted',
 4839: 'adopted',
 4844: 'adopted',
 4854: 'adopted',
 4869: 'adopted',
 4870: 'adopted',
 4876: 'adopted',
 4884: 'adopted',
 4886: 'adopted',
 4902: 'adopted',
 4915: 'adopted',
 4921: 'adopted',
 4924: 'adopted',
 4934: 'adopted',
 4935: 'adopted',
 4943: 'adopted',
 4950: 'adopted',
 4954: 'adopted',
 4961: 'adopted',
 4965: 'adopted',
 4966: 'adopted',
 4969: 'adopted',
 4974: 'adopted',
 4992: 'adopted',
 5013: 'adopted',
 5015: 'adopted',
 5027: 'adopted',
 5057: 'adopted',
 5063: 'adopted',
 5067: 'adopted',
 5069: 'adopted',
 5071: 'adopted',
 5073: 'adopted',
 5100: 'adopted',
 5101: 'adopted',
 5103: 'adopted',
 5115: 'adopted',
 5127: 'adopted',
 5151: 'adopted',
 5153: 'adopted',
 5156: 'adopted',
 5157: 'adopted',
 5160: 'adopted',
 5167: 'adopted',
 5173: 'adopted',
 5180: 'adopted',
 5200: 'adopted',
 5210: 'adopted',
 5211: 'adopted',
 5215: 'adopted',
 5225: 'adopted',
 5240: 'adopted',
 5243: 'adopted',
 5259: 'adopted',
 5281: 'adopted',
 5297: 'adopted',
 5301: 'adopted',
 5307: 'adopted',
 5309: 'adopted',
 5329: 'adopted',
 5350: 'adopted',
 5351: 'adopted',
 5360: 'adopted',
 5362: 'adopted',
 5364: 'adopted',
 5365: 'adopted',
 5369: 'adopted',
 5378: 'adopted',
 5385: 'adopted',
 5386: 'adopted',
 5407: 'adopted',
 5412: 'adopted',
 5415: 'adopted',
 5426: 'adopted',
 5428: 'adopted',
 5432: 'adopted',
 5441: 'adopted',
 5445: 'adopted',
 5456: 'adopted',
 5463: 'adopted',
 5467: 'adopted',
 5479: 'adopted',
 5483: 'adopted',
 5494: 'adopted',
 5507: 'adopted',
 5514: 'adopted',
 5516: 'adopted',
 5527: 'adopted',
 5532: 'adopted',
 5547: 'adopted',
 5551: 'adopted',
 5552: 'adopted',
 5557: 'adopted',
 5560: 'adopted',
 5571: 'adopted',
 5579: 'adopted',
 5586: 'adopted',
 5600: 'adopted',
 5607: 'adopted',
 5609: 'adopted',
 5620: 'adopted',
 5623: 'adopted',
 5638: 'adopted',
 5645: 'adopted',
 5655: 'adopted',
 5663: 'adopted',
 5666: 'adopted',
 5677: 'adopted',
 5681: 'adopted',
 5682: 'adopted',
 5685: 'adopted',
 5704: 'adopted',
 5705: 'adopted',
 5714: 'adopted',
 5718: 'adopted',
 5721: 'adopted',
 5722: 'adopted',
 5723: 'adopted',
 5725: 'adopted',
 5726: 'adopted',
 5741: 'adopted',
 5743: 'adopted',
 5756: 'adopted',
 5777: 'adopted',
 5806: 'adopted',
 5828: 'adopted',
 5830: 'adopted',
 5832: 'adopted',
 5840: 'adopted',
 5847: 'adopted',
 5850: 'adopted',
 5853: 'adopted',
 5861: 'adopted',
 5866: 'adopted',
 5892: 'adopted',
 5900: 'adopted',
 5905: 'adopted',
 5915: 'adopted',
 5918: 'adopted',
 5927: 'adopted',
 5939: 'adopted',
 5944: 'adopted',
 5950: 'adopted',
 5960: 'adopted',
 5965: 'adopted',
 5977: 'adopted',
 5993: 'adopted',
 6016: 'adopted',
 6033: 'adopted',
 6044: 'adopted',
 6050: 'adopted',
 6061: 'adopted',
 6064: 'adopted',
 6070: 'adopted',
 6096: 'adopted',
 6100: 'adopted',
 6103: 'adopted',
 6108: 'adopted',
 6114: 'adopted',
 6126: 'adopted',
 6134: 'adopted',
 6135: 'adopted',
 6136: 'adopted',
 6148: 'adopted',
 6152: 'adopted',
 6170: 'adopted',
 6171: 'adopted',
 6180: 'adopted',
 6184: 'adopted',
 6187: 'adopted',
 6198: 'adopted',
 6204: 'adopted',
 6205: 'adopted',
 6210: 'adopted',
 6217: 'adopted',
 6232: 'adopted',
 6236: 'adopted',
 6238: 'adopted',
 6239: 'adopted',
 6242: 'adopted',
 6246: 'adopted',
 6258: 'adopted',
 6266: 'adopted',
 6270: 'adopted',
 6279: 'adopted',
 6281: 'adopted',
 6282: 'adopted',
 6284: 'adopted',
 6285: 'adopted',
 6293: 'adopted',
 6296: 'adopted',
 6302: 'adopted',
 6305: 'adopted',
 6312: 'adopted',
 6321: 'adopted',
 6322: 'adopted',
 6342: 'adopted',
 6349: 'adopted',
 6357: 'adopted',
 6367: 'adopted',
 6370: 'adopted',
 6388: 'adopted',
 6393: 'adopted',
 6401: 'adopted',
 6405: 'adopted',
 6416: 'adopted',
 6419: 'adopted',
 6427: 'adopted',
 6438: 'adopted',
 6462: 'adopted',
 6463: 'adopted',
 6464: 'adopted',
 6470: 'adopted',
 6482: 'adopted',
 6504: 'adopted',
 6506: 'adopted',
 6517: 'adopted',
 6532: 'adopted',
 6590: 'adopted',
 6609: 'adopted',
 6617: 'adopted',
 6623: 'adopted',
 6627: 'adopted',
 6633: 'adopted',
 6637: 'adopted',
 6638: 'adopted',
 6640: 'adopted',
 6653: 'adopted',
 6654: 'adopted',
 6662: 'adopted',
 6688: 'adopted',
 6729: 'adopted',
 6731: 'adopted',
 6733: 'adopted',
 6734: 'adopted',
 6741: 'adopted',
 6742: 'adopted',
 6751: 'adopted',
 6757: 'adopted',
 6759: 'adopted',
 6771: 'adopted',
 6782: 'adopted',
 6786: 'adopted',
 6810: 'adopted',
 6827: 'adopted',
 6832: 'adopted',
 6835: 'adopted',
 6851: 'adopted',
 6856: 'adopted',
 6862: 'adopted',
 6865: 'adopted',
 6866: 'adopted',
 6870: 'adopted',
 6893: 'adopted',
 6894: 'adopted',
 6895: 'adopted',
 6909: 'adopted',
 6913: 'adopted',
 6914: 'adopted',
 6922: 'adopted',
 6924: 'adopted',
 6938: 'adopted',
 6956: 'adopted',
 6963: 'adopted',
 6965: 'adopted',
 6966: 'adopted',
 6971: 'adopted',
 6978: 'adopted',
 6982: 'adopted',
 6988: 'adopted',
 6992: 'adopted',
 6993: 'adopted',
 6998: 'adopted',
 7004: 'adopted',
 7015: 'adopted',
 7019: 'adopted',
 7023: 'adopted',
 7029: 'adopted',
 7071: 'adopted',
 7074: 'adopted',
 7096: 'adopted',
 7097: 'adopted',
 7101: 'adopted',
 7104: 'adopted',
 7107: 'adopted',
 7111: 'adopted',
 7114: 'adopted',
 7120: 'adopted',
 7131: 'adopted',
 7153: 'adopted',
 7156: 'adopted',
 7172: 'adopted',
 7173: 'adopted',
 7192: 'adopted',
 7194: 'adopted',
 7198: 'adopted',
 7205: 'adopted',
 7209: 'adopted',
 7210: 'adopted',
 7215: 'adopted',
 7234: 'adopted',
 7242: 'adopted',
 7248: 'adopted',
 7257: 'adopted',
 7283: 'adopted',
 7301: 'adopted',
 7323: 'adopted',
 7327: 'adopted',
 7351: 'adopted',
 7362: 'adopted',
 7375: 'adopted',
 7378: 'adopted',
 7380: 'adopted',
 7384: 'adopted',
 7386: 'adopted',
 7398: 'adopted',
 7399: 'adopted',
 7401: 'adopted',
 7403: 'adopted',
 7405: 'adopted',
 7409: 'adopted',
 7411: 'adopted',
 7431: 'adopted',
 7436: 'adopted',
 7441: 'adopted',
 7443: 'adopted',
 7449: 'adopted',
 7450: 'adopted',
 7475: 'adopted',
 7493: 'adopted',
 7511: 'adopted',
 7518: 'adopted',
 7529: 'adopted',
 7536: 'adopted',
 7538: 'adopted',
 7544: 'adopted',
 7555: 'adopted',
 7556: 'adopted',
 7572: 'adopted',
 7587: 'adopted',
 7590: 'adopted',
 7598: 'adopted',
 7600: 'adopted',
 ...}

In [118]:
data_user

                time_stamp  user_id  visited
207905 2014-04-20 14:22:45    11991        1
207906 2014-04-25 14:22:45    11991        1
207907 2014-04-28 14:22:45    11991        1
207908 2014-05-17 14:22:45    11991        1
207909 2014-05-30 14:22:45    11991        1

In [119]:
data_user = data[data['user_id'] == 11991]
size = data_user.shape[0]-2
indexes = range(0,size)
index_ctr = 0

print(size)
print(indexes)
print(index_ctr)

3
range(0, 3)
0

In [130]:
data_user = data[data['user_id'] == 11991]
size = data_user.shape[0]-2
indexes = range(0,size)
index_ctr = 0

for x in list(indexes):
    
    index_ctr = index_ctr + 2

    if index_ctr != size:
        d1 = data_user['time_stamp'].iloc[x+1] - data_user['time_stamp'].iloc[x]
        d1 = d1.days
        d2 = data_user['time_stamp'].iloc[x+2] - data_user['time_stamp'].iloc[x+1]
        d2 = d2.days
        dsum = d1 + d2

        if dsum <= 7:
            adopted_dict[11991] = 'adopted'

In [135]:
for i in ids:
    data_user = data[data['user_id'] == i]
    size = data_user.shape[0]-2
    indexes = range(0,size)
    index_ctr = 0
    
    for x in list(indexes):
    
        index_ctr = index_ctr + 2

        if index_ctr != size:
            d1 = data_user['time_stamp'].iloc[x+1] - data_user['time_stamp'].iloc[x]
            d1 = d1.days
            d2 = data_user['time_stamp'].iloc[x+2] - data_user['time_stamp'].iloc[x+1]
            d2 = d2.days
            dsum = d1 + d2

            if dsum <= 7:
                adopted_dict[i] = 'adopted'